[Unit]
Description=AtxMon Server for %i
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/atxmond -c /etc/atxmond/%i/atxmond.conf --alerts /etc/atxmond/%i/alerts.conf --events /etc/atxmond/%i/events.conf --state /var/lib/atxmond/state.%i.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
